body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banHighlight {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.price {
    position: relative;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    align-items: flex-start;
}

.price .price--kn {
    line-height: 4.4rem;
    font-size: 44px;
}

.price__ul {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    font-size: 10px;
    line-height: 1em;
    padding-left: 5px;
    text-align: left;
    position: relative;
    top: -2px;
    flex-direction: column;
}

.price--li {
    font-size: 21px;
    line-height: 2.1rem;
}

.price--c {
    font-size: 16px;
    line-height: 1.6rem;
}

/*
    Ikona za košaricu
*/

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

    .icon-button:hover {
        cursor: pointer;
    }

    .icon-button:active {
        background: #cccccc;
    }

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (max-width: 768px){
    .divShoppingCartIcon{
        margin-left:15px;
        padding-top:10px;
        padding-bottom:10px;
        display:inline-block;
    }
}
@media (min-width: 768px){
    .divShoppingCartIcon {
        padding: 10px 15px;
        display: inline-block;
    }
}

/*
    Tab style
*/

.tab {
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius:10px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  background-color: #000000;
  color:white;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #525252;
}

.tab button.active {
  background-color: #767676;
}

.tabcontent {
  display: none;
  background: rgba(82, 213, 255, 0.33);
  border: 2px solid #ccc;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-top: none;
}
